[Unit]
Description=Node Exporter
[Service]
User=prometheus
ExecStart=/prometheus/node_exporter/node_exporter-0.15.1.linux-amd64/node_exporter
[Install]
WantedBy=default.target
